* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  max-width: 1200px;
  margin: 0 auto;
}

.container {
  font-family: sans-serif;
  font-weight: 100;
  height: 100vh;
  padding: 40px;
  background-color: #f3f8f1;
}

#addBook {
  width: 160px;
  height: 160px;
  margin: 0px auto 40px;
  border: 3px solid #6be93e;
  border-radius: 50%;
  background-image: url(img/file-plus.svg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: 50%;
  transition: background-color 0.3s ease-in-out, transform 0.3s ease-in-out;
}

#addBook:hover {
  cursor: pointer;
  background-color: #ccffba;
  transform: scale(1.1);
}


#dialog {
  width: 320px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 0 20px 10px;
  border: none;
  background-color: #fff;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  border-radius: 8px;
}

#dialog>div {
  display: flex;
  justify-content: flex-end;
}

form {
  color: #686868;
  font-size: 1.2rem;
  padding: 20px;
  display: flex;
  flex-flow: column;
}

form input {
  padding: 6px 0;
  margin: 10px 0;
  border: 1px solid rgb(185, 185, 185);
  border-radius: 7px;
}

form input[type='submit'] {
  font-size: 1.1em;
  color: black;
  border: 2px solid #6be93e;
  background-color: rgb(255, 255, 255);
  transition: background-color 0.3s ease-in-out;
}

form input[type='submit']:hover {

  background-color: #ccffba;
}


form label[for='isFinished'] {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.close-btn {
  font-size: 40px;
  color: #9f9f9f;
}

.close-btn:hover {
  cursor: pointer;
}

.card-item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
  background-color: white;
  border-radius: 5px;
  box-shadow: 0px 0px 15px 0px #afafaf;
}

.card-item ul {
  list-style: none;
}

.card-item div{
  display: flex;
  flex-flow: column;
  gap: 10px;
}

.card-item div button{
  color: #686868;
  padding: 5px 10px;
  border: 1px solid #afafaf;
  border-radius: 15px;
  transition: background-color 0.2s ease-in-out, border-color 0.2s ease-in-out, color 0.2s ease-in-out;
}

.card-item div .delete-btn:hover{
  color: red;
  border-color: red;
  background-color: rgb(255, 219, 219);
}

.card-item div .edit-btn:hover{
  color: darkblue;
  border-color: #76b3f9;
  background-color: #76b3f9;
}

.output {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-auto-rows: 1fr;
  grid-gap: 40px;
}


.toggle-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.toggle-checkbox {
  display: none;
}

.toggle-label {
  width: 60px;
  height: 30px;
  background-color: #ccc;
  border-radius: 15px;
  position: relative;
  cursor: pointer;
  transition: background-color 0.3s;
}

.toggle-label::after {
  content: "";
  width: 26px;
  height: 26px;
  background-color: white;
  border-radius: 50%;
  position: absolute;
  top: 2px;
  left: 2px;
  transition: transform 0.3s;
}

.toggle-checkbox:checked+.toggle-label {
  background-color: #4caf50;
}

.toggle-checkbox:checked+.toggle-label::after {
  transform: translateX(30px);
}