@font-face {
  font-family: 'Bona Nova SC';
  src: url(fonts/BonaNovaSC-Regular.ttf);
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  margin: 0 auto;
  position: relative;
}

body::before {
  content: "";
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(rgba(0, 0, 0, 0.75), rgba(0, 0, 0, 0.25)), url('img/bg.jpg') no-repeat center center / cover;
  z-index: -1;
}

.container {
  font-weight: 100;
  max-width: 1200px;
  min-height: 100vh;
  margin: 0 auto;
  padding-top: 40px;
}

#addBook {
  width: 160px;
  height: 160px;
  margin: 0px auto 40px;
  border: 3px solid #6be93e;
  border-radius: 50%;
  background-image: url(img/file-plus.svg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: 50%;
  transition: background-color 0.3s ease-in-out, transform 0.3s ease-in-out;
}

#addBook:hover {
  cursor: pointer;
  background-color: #ccffba;
  transform: scale(1.1);
}


#dialog {
  width: 320px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 0 20px 10px;
  border: none;
  background-color: #fff;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  border-radius: 8px;
}

form {
  color: #686868;
  font-size: 1.2rem;
  padding: 20px;
  display: flex;
  flex-flow: column;
}

form input {
  padding: 6px;
  margin: 10px 0;
  border: 1px solid rgb(185, 185, 185);
  border-radius: 7px;
}

form input[type='submit'] {
  font-size: 1.1em;
  color: #686868;
  border: 2px solid #96f474;
  background-color: rgb(255, 255, 255);
  transition: all 0.3s ease-in-out;
}

form input[type='submit']:hover {
  background-color: #96f474;
}


form label[for='isFinished'] {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

form label[for='read-status'] {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.close-btn {
  font-size: 40px;
  color: #9f9f9f;
}

.close-btn:hover {
  cursor: pointer;
}

.card-item {
  display: flex;
  flex-direction: column;
  gap: 10px;
  padding: 20px;
  background-color: rgb(255 255 255 / 87%);
  border-radius: 5px;
  box-shadow: 0px 0px 15px 0px #2f2f2f;
  position: relative;
}

.card-item div {
  display: flex;
  gap: 10px;
}

.btn-wrapper {
  position: absolute;
  right: 20px;
}

.btn-wrapper img {
  width: 20px;
  margin-left: 10px;
  transition: all 0.3s;
}

.btn-wrapper img:hover {
  transform: scale(1.3);
}

.output {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  grid-auto-rows: 1fr;
  grid-gap: 40px;
  padding: 0 40px;
}

.output .author {
  font-family: 'Bona Nova SC';
}

.output .title {
  font-family: 'Bona Nova SC';
  font-style: italic;
  font-size: 1.1em;
}

.output .pages {
  font-family: monospace;
}

.output .read-status {
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  font-size: 0.8em;
}

.toggle,
.toggleDialog {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  width: 62px;
  height: 32px;
  display: inline-block;
  position: relative;
  border-radius: 50px;
  overflow: hidden;
  outline: none;
  border: none;
  cursor: pointer;
  background-color: #707070;
  transition: background-color ease 0.3s;
}

.toggle:before,
.toggleDialog:before {
  content: "yes no";
  display: block;
  position: absolute;
  z-index: 2;
  width: 28px;
  height: 28px;
  background: #fff;
  left: 2px;
  top: 2px;
  border-radius: 50%;
  font: 10px/28px Helvetica;
  text-transform: uppercase;
  font-weight: bold;
  text-indent: -25px;
  word-spacing: 37px;
  color: #fff;
  text-shadow: -1px -1px rgba(0, 0, 0, 0.15);
  white-space: nowrap;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.2);
  transition: all cubic-bezier(0.3, 1.5, 0.7, 1) 0.3s;
}

.toggle:checked,
.toggleDialog:checked {
  background-color: #5ed134;
}

.toggle:checked:before,
.toggleDialog:checked:before {
  left: 32px;
}